

:root {
  --main-text-color: #212121;
  --background-color: #ffffff;
  --additional-text-color: #757575;
  --btn-color: #2196f3;
  --btn-active-color: #188ce8;
  --container-color: #eeeeee;
  --logo-text-color: #000000;
  --section-background-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-footer-background-color: #2f303a;
  --line-color: #ececec;
  --secondary-font-family: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

* {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  /* or .footer-address */
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

.container {
  /* outline: 2px solid rgb(47, 89, 255); */

  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  /* outline: 2px solid red; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  /* color: inherit; */
}



